.Name {
  font-weight: 300;
  color: blue;
}

.School {
  color: crimson;
}

.Total {
  color: darkmagenta;
}

.formatstyle {
  text-align: center;
  font-size: large;
  padding: 20px;
}

.Score {
  color: forestgreen;
  font-weight: bold;
}
